// Animation
@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }

  100% {
    background-position: 468px 0
  }
}

.animated-background {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative;
}
// .text-line:first-of-type {
//   width: 50%;
// }
.text-line.fullwidth.forceWidth{
  width: 200px;
}
.text-line.fullwidth{
  width: 70%;
}
.text-line {
  height: 3vh;
  width: 40%;
  // background: #F6F6F6;
  margin: 5px 7px;
  @extend .animated-background;
  border-radius: 5px;
}

// .text-line:last-of-type {
//   width: 30%;
// }

.square{
  height: 35px;
  margin-bottom: 7%;
  width: 90px !important;
  right: 10%;
  border-radius: 10px;
  @extend .animated-background;
}
.square:first-of-type{
  margin-top: 5%;
}
.square.smallHeight{
  width: 30px !important;
  height: 20px;
  right: 0 !important;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0;
  //padding: 0;
}
