.sem-table{
    /* border-collapse:separate; */
    border-spacing:0px 35px;
    width: 90%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    /* padding-bottom: 5%; */
    /* border: 1px solid black; */
}
  
.mobileScreen .sem-table{
    row-gap: 3%;
    justify-content:start;
}
.sem-table tr{
    /* height: 10px; */
}
.sem-table td {
    /* border-radius: 1px; */
    /* border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6; */
    padding: 1%;
    /* word-wrap: break-word; */
    /* height: 10px; */
    /* border: 1px solid black; */
}
.sem-table tr td:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-left: 1px solid #E6E6E6;
    padding-left: 3%;
}

.sem-table tr td:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-right: 1px solid #E6E6E6;
  padding-right: 2%;
}
