.breadcrumbs {
    display: flex;
    align-items: center;
    font-size: 14px;
}
    
.separator {
    margin: 0 5px;
}

a{ 
    color: black;
    text-decoration: none;
    font-weight: bold;
}   