.container{
    
}
.link button{
    color: white;
    font-family: "Red Hat Text", 'Times New Roman';
    font-weight: bold;
    font-size: 18px;
    /* border: 1px solid black; */
    align-content: end;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    /* text-decoration: underline; */
    /* border: none; */
}
.link .btn:hover{
    color: white;
}
.logo{
    font-family: "Racing Sans One", sans-serif;
    color: white;
    font-size: 35px;
}
.header{
    background-color: #E97979;
}
.header-container{
    margin-left: 20px;
    /* border: 1px solid black; */
    margin-right: 20px;
}
.mbtn{

}