section{
    height: 87%;
}
nav.header.navbar{
    background-color: #0F3948;
    height: 13%;
}
.header-container{
    padding-left: 30px;
    max-width: 100%;
}
/* TODO: Add underline spreading animation on hover for a.link. */
.header .logo, a.link,a.link:focus, a.link:hover {
    color: white;
}
.link{
    font-size: 18px;
    font-weight: bold;
    margin-right: 30px;
    font-family: "Red Hat Text", 'Times New Roman';
    letter-spacing: 1px;
}

/* Mobile screen */
.mobileScreen .header-container{
    padding: 0;
    padding-left: 20px;
    display: flex;
}
.mobileScreen .header-container::after {
    flex: 1;
    content: '';
}
nav.header.navbar.mobileScreen{
    background-color: white;
    height: 12%;
}

.menuIcn{
    height: 23px;
    width: 40px;
    
}
.menuIcnDiv{
    flex: 1;
}
.mobileScreen.header .logo{
    color: #0F3948;
    font-size: 30px;
}
nav.header.navbar.menuOpen{
    visibility: hidden;
    transition: 0.3s;
    transition-delay: 0.1s;
}
