.dialog-modal {
    position: absolute;
    max-width: 20rem;
    padding: 2rem;
    border: 0;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem 0.25rem hsl(0 0% 0% / 10%);
}
.dialog-modal button{
    background-color: #0F3948;
    color: white;
    font-weight: bold;
    letter-spacing: 0.5px;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    border: none;
}
.dialog-modal td{
    border-bottom: 1px solid #D9D9D9;
}
