body{
    background-color: #E9F4FA;
    font-family: "Red Hat Text", sans-serif;
    /* position: relative; */
}

.TeacherLogin{
    margin-left: auto;
    margin-right: auto;    
    background-color: white;
    width: 50%;
    height: 420px;
    /* height: auto; */
    border-radius: 8px;
    margin-top: 8%;
    box-shadow: 0 3px 5px rgb(156, 156, 156) ;
}
.TeacherLoginLogo{
    line-height: 95%;
    width: 120px;
    text-wrap: wrap;
    text-align: center;
    letter-spacing: 0.5px;
    padding-bottom: 20px;
}
.changeEmailLnk.inactive{
    visibility: hidden;
}
.changeEmailLnk{
    padding-top: 20px;
    padding-left: 20px;
    cursor: pointer;
    font-size: .9em;
}
.TeacherLogin, .TeacherLogin .checkEmailBtn{
    font-weight: bold;
}
.hide{
    visibility: hidden;
}
.TeacherLogin p{
    width:70%;
    font-weight: bold;
    margin: auto;
    margin-top: 5px;
    letter-spacing: 0.5px;
}
.checkEmailBtnDiv{
    text-align:center;
    padding-top: 10px;
    /* padding-bottom: 35px; */
}
.checkEmailBtn{
    color: white;
    background-color: #0F3948;
    border-radius: 38px;
    width: 190px;
    height: 55px;
}
.checkEmailBtn.btn{
    letter-spacing: 0.5px;
}
.checkEmailBtn:focus,.checkEmailBtn:hover{
    background-color: #0F3948;
    color: white;
}
.TeacherLogin *{
    margin: auto;
}
.InvalidEmail input, .InvalidEmail input.form-control:focus, .InvalidEmail input.form-control:hover{
    border: 1px solid #EE1818;
}

.InvalidEmail p{
    color: #EE1818;
}
.TeacherLogin .form-control:hover, .TeacherLogin .form-control:focus{
    box-shadow: none;
    border: 1px solid black;
}
.TeacherLogin .form-control{
    /* background-color: #E9F4FA; */
    width:70%;
    height: 55px;
    /* border: 1px solid #0F3948; */
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); */
    box-shadow: 1 0 0 0.1rem rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    
}
.showHidePasswordIcon img{
    height: 30px;
}
.passwordDiv .form-control:focus, .passwordDiv .form-control:hover{
    border: transparent;
}
.passwordDiv .form-control{
    width: 92%;
    height: 53px;
    float: left;
    border: transparent;
}

.passwordDiv{
    border: 1px solid black;
    box-shadow: 1 0 0 0.1rem rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    height: 55px;
    width: 70%;
}
.showHidePasswordIcon{
    /* float: left; */
    /* position: relative; */
    left: -50px;
    padding-top: 11px;
    /* margin: auto; */
    /* text-align: center; */
}
/* .TeacherLogin .form-control:focus{
    outline: none;
} */
/* .TeacherLogin .form-control:focus{
    background-color: #E9F4FA;
} */
/* .loginBtn{
    background-color: #A8D8EB;
}
.cancelBtn{
    background-color: #D9D9D9;
} */
.TeacherLoginTitle{
    /* margin: auto; */
    /* border: 1px solid black; */
    /* width: 100%; */
    /* margin-top: 25px; */
    margin-bottom: 20px;
    text-align: center;
    font-family: "Red Hat Text", sans-serif;
    font-weight: bold;
}
.validatedEmail label, .validatedEmail .form-control{
    font-weight: lighter;
    cursor: not-allowed;
}
.validatedEmail .form-control:hover, .validatedEmail .form-control:focus{
    border: 1px solid #dee2e6;
}
