section.teacherLoginSection{
    height: 100%;
    background-color: #E9F4FA;
    font-family: "Red Hat Text", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.disabledState.btn, .disabledState.btn:hover, .disabledState.btn:focus{
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #0F3948;
    color: white;
}
.TeacherLogin{
    background-color: white;
    height: 65%;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgb(156, 156, 156) ;
    width: 45%;
}
.TeacherLogin.increaseHeight{
    height: 65%;
}
.h3{
    margin-bottom: 0%;
}
.TeacherLogin form{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
.TeacherLoginLogo{
    line-height: 95%;
    width: 132px;
    text-align: center;
    letter-spacing: 1px;
}
.changeEmailLnk{
    align-self: flex-start;
    cursor: pointer;
    font-size: .9em;
    margin-left: 20px;
    margin-top: -25px;
}
.TeacherLogin label, .TeacherLogin, .TeacherLogin .checkEmailBtn{
    font-weight: bold;
}
.hide{
    visibility: hidden;
}
.checkEmailBtn{
    width: 170px;    
}
.checkEmailBtn, .checkPasswordBtn{
    height: 50px;
    font-weight: bold;
    letter-spacing: 1px;
}
.checkPasswordBtn{
    width: 190px;
}
.TeacherLogin label{
    letter-spacing: 0.5px;
}
.InvalidEmail input, .InvalidEmail input.form-control:focus, .InvalidEmail input.form-control:hover, .IncorrectPassword .passwordDiv{
    border: 1px solid #EE1818;
}
.enterEmail, .validatedEmail, .TakePassword, .error{
    margin: auto;
    width: 60%;
}
.TakePassword{
    margin-top: 15px;
}
.credentials, .changeEmailDiv{
    width: 100%;
}
.InvalidEmail label, .IncorrectPassword label, .error{
    color: #EE1818;
}
.error{
    padding-top: 8px;
}
.TeacherLogin .form-control:hover, .TeacherLogin .form-control:focus{
    box-shadow: none;
    border: 1px solid black;
}
.TeacherLogin .form-control{
    height: 55px;
    box-shadow: 1 0 0 0.1rem rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: large;
    width: 100%;
}
.showHidePasswordIcon{
    height: 30px;
    padding-right: 17px;
}
.passwordDiv .form-control, .passwordDiv .form-control:focus, .passwordDiv .form-control:hover{
    border: none;
}
.passwordDiv .form-control{
    font-size: large;
    height: 50px;
}
.betterPasswordMaskStyle{
    letter-spacing: 0.05em;
    font-family: Verdana;
}
.passwordDiv{
    border: 1px solid black;
    border-radius: 5px;
    height: 55px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.TeacherLoginTitle{
    font-weight: bold;
}
.validatedEmail label, .validatedEmail .form-control{
    opacity: 50%;
    cursor: not-allowed;
}
.validatedEmail .form-control:hover, .validatedEmail .form-control:focus{
    border: 1px solid #dee2e6;
    
}

@media screen and (max-width: 870px){
    .TeacherLogin{
        width: 90%;
        height: 55%;
    }
    .TeacherLogin.increaseHeight{
        height: 60%;
    }
    .enterEmail, .validatedEmail, .TakePassword, .error{
        margin: auto;
        width: 88%;
    }
}
