.subjectModal{
    font-family: "Red Hat Text";
}
.modal-header{
    background-color: #0F3948;
    color: white;
    height: 4rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}
.modal-title{
    font-weight: 500;
    font-size: 27px;
}
.modal-subtitle{
    align-self: flex-end;
    padding-bottom: 5px;
    font-size: 13px;
}
.modal-body{
    padding-left: 4%;
    padding-right: 4%;
}
.modal-body .subjects-list-modal{
    width: 100%;
    font-size: 17px;
    text-align: center;
}
.modal-body .name{
    width: max-content;
}
.modal-body table td{
    border-bottom: 1px solid #D9D9D9;
    padding: 4% 0% 4% 0%;
}
.modal-footer{
    width: 100%;
    padding-right: 4%;
}
.no-blur{
    backdrop-filter: blur(0);
}
@media screen and (max-width: 500px){
    .modal-header{
        height: 3rem;
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
        padding: 0 4px 0 4px;
    }
    .modal-title{
        font-size: 18px;
    }
    .modal-subtitle{
        padding-bottom: 1px;
        font-size: 11px;
    }
    .modal-body .subjects-list-modal{
        font-size: 13px;
    }
    .modal-body table td{
        padding: 3% 0% 3% 0%;
    }
    .modal-footer button{
        font-size: 10px;
        height: auto;
        width: auto;
        padding: 1.5% 5% 1.5% 5%;
    }
}
